<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>엄지</title>
</head>
<body>
<h1>{{ group }}</h1>
<h2>{{ member }}</h2>
<img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzExMTBfMTQ4%2FMDAxNjk5NTgzMDQyMzY2.sHxGkRklbmIQQhE1FBPiAQQ4wdRyFVjWyFCVHDm-FiIg.xZYgpEDglp9_05Qq2DefQoX8am1H-grHJjRr6lz5gcog.JPEG.flexgoo%2F%25BA%25F1%25BA%25F1%25C1%25F6_%25BE%25F6%25C1%25F6_%25B7%25CE%25B6%25F3%25B7%25CE%25B6%25F3_%25BF%25A9%25C0%25DA_%25B0%25DC%25BF%25EF_%25BD%25CC%25B1%25DB_%25C3%25BC%25C5%25A9_%25C0%25DA%25C4%25CF3.jpg&type=a340" style="border-radius: 50%">
</body>
</html>